<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

{{!-- Linking css --}}
<!-- Linking Fontawesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
{{!-- //Setup the index.ejs to have the template that ejs can render onto.
Create a button in index.ejs that will submit the user input into the database. --}}
<main class="container">
  
    {{!-- Setting up a background image and styling the text to appear on top of it --}}
  <div class="hero-image">
    <div class="hero-text">
      <h1>
        <p>Shopping List</p>
      </h1>
      <table>
    <!-- We will want to add padding to and format the table once we integrate the css styling -->
    <!-- Dynamically add items to the shopping list using EJS -->
        <tr>
          <td><%=Placeholder%></td>
          <td> <i class="fa fa-heart"></i> </td>
          <td><%=Placeholder%></td>
          <td> <i class="fa fa-heart"></i> </td>
          <td><%=Placeholder%></td>
          <td> <i class="fa fa-heart"></i> </td>
        </tr>
        <tr>
          <td><%=Placeholder%></td>
          <td> <i class="fa fa-heart"></i> </td>
          <td><%=Placeholder%></td>
          <td> <i class="fa fa-heart"></i> </td>
          <td><%=Placeholder%></td>
          <td> <i class="fa fa-heart"></i> </td>
        </tr>
        <tr>
            <td><%=Placeholder%></td>
            <td> <i class="fa fa-heart"></i> </td>
            <td><%=Placeholder%></td>
            <td> <i class="fa fa-heart"></i> </td>
            <td><%=Placeholder%></td>
            <td> <i class="fa fa-heart"></i> </td>
        </tr>
        <tr>
            <td><%=Placeholder%></td>
            <td> <i class="fa fa-heart"></i> </td>
            <td><%=Placeholder%></td>
            <td> <i class="fa fa-heart"></i> </td>
            <td><%=Placeholder%></td>
            <td> <i class="fa fa-heart"></i> </td>
        </tr>
      </table>
</body>
</html>